.idea
/node_modules
/assets
/.svn
/bin_win32_gnu_d
/bin_win32_qt
/bin_win32_qt_d
/business
/data
/db
/log
/model
/report
/script
/temp
/config/apps.config.ini
/config/gcl_svr_bus.config.ini
/config/gcl_svr_bus.extend.xml
/config/gcl_svr_fastcgi.config.ini
/config/gcl_svr_fastcgi_rtdata.config.ini
/config/gcl_svr_rtdbs.config.ini
/config/gcl_tool_sharememory_viewer.config.ini
/config/monsb.measure.txt
/config/straw.measure.txt
/config/vxd_modbus_rtu.config.ini
/config/vxd_modbus_tcp.config.ini
/config/vxd_modbus_tcp.ini
/config/ycadd.measure.txt
/*.log
